{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "production": {
      "plugins": ["ignite-ignore-reactotron"]
    }
  }
}
